#whole_page_boxes{
	gap:50px;
}
.second_whole_box{
	display:flex;
	align-items:center;
	flex-direction:column;
	width:33%;
	height:702px;
	
}



#whole_center_image{
	width:33%;
	height:702px;
	object-fit:cover;
}
#whole_center_image img{
	width:100%;
	/*height:47%;*/
}
.second_image{
	height:35%;
	width:100%;	
}
.second_image img{
	width:100%;
	height:100%;
	object-fit:cover;
}
.center_image{
	width:33%;
	height:369px;
}
.second_page_box{
	
	width:100%;
	height:60%;
	font-size:26px;
	border-top:1px solid black;
}
.second_description{
	display:flex;
	width:100%;
	margin:3px;
	height:5%;
	
}
.to_other_page{
	top:8%;
	left:-2.2%;

}
#first_center_image{
	height:35%;
	
}
#first_center_image img{
	/*height:100%;*/
	
}

